@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 10px;
    background-image: url("https://images.unsplash.com/photo-1541944766239-695501c0c318?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
}

#error-screen {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: #fff;
    position: absolute;
    background-color: #141414;

}

.error-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#viewer {
    width: 100vw;
    height: 100vh;
}

#camera, #lidar {
    position: absolute;
}

#lidar {
    z-index: 2;
}

.error-title {
    margin: 0;
    font-size: 5rem;
}

.error-message {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
}

#show-lidar-icon {
    display: none;
}

#hide-lidar-icon, #show-lidar-icon {
    transition: all 1s;
    /*fill: #fff;*/
}

.lidar-show-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Pulse Button*/
.pulse-button {
    /* position: absolute; */
    border: none;
    text-decoration: none;
    z-index: 3;
    left: 0;
    border-bottom: 0;
    /*margin-left: -50px;*/
    /*margin-top: -50px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    font-size: 1.3em;
    text-align: center;
    line-height: 100px;
    letter-spacing: -1px;
    color: white;
    border-radius: 50%;
    background-color: #21212182;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(225, 225, 225, 0.25);
    -webkit-animation: none;
}

.pulse-button:hover {
    -webkit-animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    70% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
    }
    100% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
}

#clock {
    color: #fff;
}

/*Top bar css*/
.top-bar {
    color: #000;
    position: absolute;
    align-items: flex-start;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 20vw;
    z-index: 99;
}

/*styles for interface footer */
.interface-footer {
    /*background: red;*/
    padding: 25px 0px;
    position: absolute;
    align-items: flex-end;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 15vw;
    z-index: 99;
}

/* state widget */
.state-wrapper {
    /*background: rgb(255, 255, 255, 0.5);*/
    background: rgb(0, 0, 0);
    background: linear-gradient(
            90deg, rgba(0, 0, 0, 0.8) 0%, rgb(0 255 161 / 50%) 42%);
}

.footer-col {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-radius: 10px;
    color: #fff;
    margin: 0px 20px;
}

.footer-col h1, .footer-col p {
    margin: 0;
}

.state-text-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: left;
    flex-direction: column;
}

.state-inner-container {
    overflow: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 607px;
    height: 100px;
}

.state {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 227px;
    scroll-snap-align: start;
    padding: 20px 0px;
}

.state-inner-wrapper {
    overflow: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 607px;
    height: 100px;
}

.state-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 35%;
    border-radius: 10px 15px 15px 10px;
    background: rgba(3, 3, 3, 0.9);
}

.state-info-wrapper .clock h5 {
    margin: 0;
    padding: 0;
}

.state-info-wrapper .clock {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    /*background: red;*/
    align-self: flex-start;
}

.state-info-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    height: 100%;
    padding: 0px 0px 0px 10%;
    width: 65%;
}

.state-title {
    font-weight: bold;
}

.state-text {
    font-weight: normal;
}

#footer {
    display: none;
}
